.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.container .content_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 30px;
  width: 40%;
}


/* Enter Email Address Styling */

.content_wrapper .trouble_logging_in_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trouble_logging_in_container .lock_icon {
  width: 40px;
  cursor: default;
}

.trouble_logging_in_container .title {
  text-transform: uppercase;
}


.content_wrapper .input_field_container {
  width: 65%;
  margin-top: 30px;
}

.input_field_container .input_field {
  width: 100%;
  height: 35px;
  border-radius: 50px;
  border: none;
  background-color: #DDDDDD;
  padding: 0 1rem;

}

.content_wrapper .forgot_password_button_container {
  width: 65%;
}

.content_wrapper .subtitle_container {
  width: 60%;
}

.subtitle_container .subtitle {
  font-size: var(--small-font-size);
  text-align: center;
}

.forgot_password_button_container .forgot_password_button {
  width: 100%;
  height: 35px;
  border-radius: 50px;
  border: none;
  background-color: #235890;
  color: white;
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
}

/* Reset Password Styling */

 .container .step2_title_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.step2_title_container .lock_icon {
  width: 40px;
  cursor: default;
}

.step2_title_container .step2_title {
  text-transform: uppercase;
}

.step2_subtitle_container {
  width: 60%;
}

.step2_subtitle_container .step2_subtitle,
.step2_subtitle_container .step2_subtitle_email {
  font-size: var(--normal-font-size);
  text-align: center;
}

.step2_subtitle_container .step2_subtitle_email {
  font-weight: var(--font-semi-bold);
  color: black;
}

.step2_instruction_container {
  width: 60%;
}

.step2_instruction_container p {
  font-size: var(--small-font-size);
  text-align: center;
}

.step2_instruction_container .step2_instruction_time {
  font-weight: var(--font-semi-bold);
  color: black;
  margin: 0 3px;
}

.step2_input_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  width: 100%;
}

.step2_verify_button {
  width: 65%;
}

.step2_verify_button .verify_button {
  width: 100%;
  height: 35px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  border-radius: 50px;
  border: none;
  background-color: #235890;
  text-align: center;
}

.step2_verification_input_field {
  height: 35px;
  border-radius: 50px;
  padding: 16px;
  width: 40%;
  border: none;
  background-color: #DDDDDD;
  color: var(--title-color-dark);
}


/* Reset Password Styling */

.content_wrapper .step3_title_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.step3_title_container .step3_title {
  text-transform: uppercase;
}

.step3_title_container .lock_icon {
  width: 40px;
  cursor: default;
}

.step3_subtitle_container {
  width: 60%;
}

.step3_subtitle_container .step3_subtitle::first-letter {
  text-transform: capitalize;
}

.step3_subtitle_container .step3_subtitle {
  font-size: var(--normal-font-size);
  text-align: center;
}

.content_wrapper .step3_input_field_container {
  width: 65%;
  gap: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step3_input_field_container .step3_input_field {
  width: 100%;
  height: 35px;
  border-radius: 50px;
  border: none;
  background-color: #DDDDDD;
  padding: 0 1rem;
  margin-top: 0;
}

.content_wrapper .step3_reset_password_container {
  width: 65%;
  gap: 0;
  margin-top: 30px;
}

.step3_reset_password_container .step3_reset_password {
  width: 100%;
  height: 35px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  border-radius: 50px;
  border: none;
  background-color: #235890;
  text-align: center;
}


.go_to_login_button {
  width: 100%;
  height: 35px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  border-radius: 50px;
  border: none;
  background-color: #235890;
  text-align: center;
}



@media (max-width: 768px) {
  .container .content_wrapper {
    width: 70%; 
    padding: 10px;
  }

  .input_field_container,
  .forgot_password_button_container,
  .step2_verify_button,
  .step3_input_field_container,
  .step3_reset_password_container {
    width: 90%;
  }

  .content_wrapper .subtitle_container,
  .step2_subtitle_container,
  .step2_instruction_container,
  .step3_subtitle_container {
    width: 80%; 
  }

  .step2_input_container {
    flex-direction: column; 
    gap: 15px;
  }

  .step2_verification_input_field {
    width: 80%; 
  }

  .go_to_login_button {
    width: 80%; 
  }
}


@media (max-width: 480px) {
  .container .content_wrapper {
    width: 90%;
    padding: 5px;
  }

  .input_field_container .input_field,
  .step3_input_field_container .step3_input_field,
  .step2_verification_input_field {
    height: 30px; 
    padding: 0.5rem;
  }

  .forgot_password_button_container .forgot_password_button,
  .step3_reset_password_container .step3_reset_password,
  .step2_verify_button .verify_button,
  .go_to_login_button {
    height: 30px; 
    font-size: 0.8rem; 
  }

  .lock_icon {
    width: 30px;
  }

  .subtitle_container .subtitle,
  .step2_subtitle_container .step2_subtitle,
  .step3_subtitle_container .step3_subtitle {
    font-size: 0.9rem; 
  }

  .step2_input_container {
    flex-direction: column; 
    gap: 10px;
  }
}