.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-left: 35px;
  padding-right: 100px;
  gap: 20px;
}

/* Header styling */

.view_content_header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height: 100px;
}


/* Profile menu styling */
.profile_menu_container {
  position: relative; /* Anchor point for dropdown */
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  gap: 60px;
}

.profile_menu {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1rem;
  width: 60px;
  height: 60px;
  position: relative;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  background-color: none;
  margin-left: auto;

  .default_profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}


.profile_menu:hover {
  background-color: #f0f0f0;
}

.dropdown_menu {
  position: absolute;
  top: 100%; /* Para palaging sa taas ng header nag-a-appear */
  right: 0; /* Align to the right side */
  background-color: #DDDDDD;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1000; /* Para ma-ensure na clickable */
  width: 100%;
  width: 325px; /* Adjust width as needed */
  border-radius: 1.65rem;
  padding: 10px 2px;
}


.dropdown_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 10px;
  border-radius: 1rem;
}

.dropdown_menu li {
  border-bottom: 1px solid #f0f0f0;
  border-radius: 50px;
  background-color: white;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 5px 0;
  width: 100%;
  font-size: var(--small-font-size);
}

.dropdown_menu li:first-child {
  margin-top: 0;
}

.dropdown_menu li:hover {
  background-color: #F5F5F5 ;
}

.dropdown_menu_logo {
  height: 25px !important;
  width: 25px !important;
  border-radius: 50% !important;
  margin-right: 15px !important;
  object-fit: cover !important; /* Ensure the image fits within the dimensions */
}

.dropdown_menu a {
  display: flex; 
  align-items: center; 
  color: #333; 
  padding: 0 10px; 
  height: 25px;
}


.notification_menu {
  margin-top: auto;
  border: none;
  border-radius: 50%;
  width: 40px;
  background-color: transparent;
}

.notification_icon {
  width: inherit;
  background-color: none;
}

.notification_dropdown_menu li {
  height: 60px;
  padding: 0 10px;
}


/* Search bar styling */
.search_result_headercontent_search_bar_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.search_result_headercontent_search_bar_container .content_search_bar {
  width: 650px;
  height: 45px;
  border: none;
  padding: 20px;
  border-radius: 50px;
  font-size: var(--normal-font-size);
  position: relative;
  background-color: #DDDDDD;
}

.search_result_headercontent_search_bar_container .search_button {
  position: relative;
  top: 50%;
  right: 40px;
}

.search_button .search_icon {
  position: absolute;
  transform: translateY(-50%);
  width: 30px;
}

/* Content styling */

.content_container {
  display: flex;
  flex: 1;
}

.go_back_button_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 20%;
  background-color: white;
}

.go_back_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #235890;
  font-size: var(--h3-font-size);
  color: white;
  width: 140px;
  height: 35px;
  gap: 5px;
  border-radius: 50px;
  padding-right: 10px;
  font-weight: var(--font-normal);

  img {
    height: 25px;
    border-radius: 50%;
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 50px 80px;
  gap: 50px;
}

.content_author_and_keywords_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  gap: 60px;
}

.content_author_container {
  display: flex;
  background-color: white;
  gap: 20px;
  align-items: center;
  justify-content: center;

  img {
    height: 60px;
  }
}

.author_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0;

  h4 {
    font-size: var(--small-font-size);
  }

  p {
    font-size: var(--small-font-size);
    margin-top: -4px;
    color: #C00202;
  }
}

.content_keywords_container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  height: 100%;
  
}

.content_keywords {
  border : 1px solid #235890;
  padding: 2px 10px;
  border-radius: 50px;
  
  p {
    color: black;
    font-size: var(--small-font-size);
  }
}

.content_title_and_description_container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%;
}

.content_title_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;

  h1 {
    text-transform: capitalize;
  }

  img {
    height: 30px;
  }

  p {
    font-size: var(--small-font-size);
    color: black;
    text-transform: capitalize;
  }
}


.content_description_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  p {
    font-size: var(--small-font-size);
    color: black;
    line-height: 1.25;
    text-align: justify;
  }
}

.content_files_container {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  background-color: #C00202;
}

.items_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

  img {
    height: 60px;
  }
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 125px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s;
}

.item:hover {
  background-color: #ddd;
}

.item_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    font-size: var(--smaller-font-size);
    color: black;
    font-weight: normal;
  }

  p {
    font-size: var(--tiny-font-size);
    color: black;
  }
}