.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 100px;

}

/* Header styling */
.search_history_header {
  position: relative; /* Anchor point for dropdown */
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  background-color: transparent;
  gap: 60px;
  padding: 10px 0;
}

.profile_menu_container {
  position: relative; /* Anchor point for dropdown */
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  gap: 60px;
}

.profile_menu {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1rem;
  width: 60px;
  height: 60px;
  position: relative;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  background-color: none;
}

.profile_menu .default_profile {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  object-fit: cover;
  

}



.profile_menu:hover {
  background-color: #f0f0f0;
}

.dropdown_menu {
  position: absolute;
  top: 100%; /* Para palaging sa taas ng header nag-a-appear */
  right: 0; /* Align to the right side */
  background-color: #DDDDDD;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1000; /* Para ma-ensure na clickable */
  width: 100%;
  width: 325px; /* Adjust width as needed */
  border-radius: 1.65rem;
  padding: 10px 2px;
}

.dropdown_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 10px;
  border-radius: 1rem;
}

.dropdown_menu li {
  border-bottom: 1px solid #f0f0f0;
  border-radius: 50px;
  background-color: white;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 5px 0;
  width: 100%;
  font-size: var(--small-font-size);
}

.dropdown_menu li:first-child {
  margin-top: 0;
}

.dropdown_menu li:hover {
  background-color: #F5F5F5 ;
}

li .dropdown_menu_logo {
  height: 25px;
  border-radius: 50%;
  margin-right: 15px;
}

.dropdown_menu a {
  display: flex; 
  align-items: center; 
  color: #333; 
  padding: 0 10px; 
  height: 25px;
}

.notification_menu {
  margin-top: auto;
  border: none;
  border-radius: 50%;
  width: 40px;
  background-color: transparent;
}

.notification_icon {
  width: inherit;
  background-color: none;
}

.notification_dropdown_menu li {
  height: 60px;
  padding: 0 10px;
}
.search_history_logo {
  width: 200px;
  margin: 0 auto;
}

.search_history_container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 300px;
  gap: 35px;
}

.search_history_content_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid hsl(0, 0%, 88%);
  border-radius: 5px;
  padding-bottom: 20px;

}

.search_history_action_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;

}

.search_history_content_manipulation {
  display: flex;
  gap: 40px;
  align-items: center;

  .content_button {
    width: 30px;
    height: 30px;
  }
}

.back_and_count {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;

  p {
    color: black;
    font-size: var(--small-font-size);
  }
}

.content_add_button {
  width: 15px;
}

.content_select_button {
  width: 30px;
}

.content_archive_button {
  width: 30px;
}

.content_delete_button {
  width: 30px;
}

.content_back_button {
  width: 20px;
}

.search_history_content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 50px;

}



/* button styling */
.search_result_main_content_header_button {
  background-color: white;
  text-transform: capitalize;
  color: black;
  font-weight: var(--font-semi-bold);
  position: relative;
  padding-bottom: 5px;
}

.search_result_main_content_header_button::before {
  visibility: hidden;
  transform: scaleX(0);
}

.active_button {
  color: #235890;
}

.active_button::before {
  content: '';
  position: absolute;
  width: 100%;
  border-radius: 50px;
  height: 3px;
  bottom: 0;
  left: 0%; 
  background-color: #235890; /* Change this to your desired color */
  visibility: visible;
  transform: scaleX(-50%);
  transition: all 0.3s ease-in-out;
}

.content_cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.content_cards .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 3px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  cursor: pointer;
}

.card .card_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  width: 50%;
}

.card_info .card_subtitle {
  font-size: var(--smaller-font-size);
  color: black;
}

.card .card_action_container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
}

.card_action_container .program_cs {
  font-size: var(--smaller-font-size);
  text-transform: capitalize;
  color: #C00202;
}

.card_action_container .program_it {
  font-size: var(--smaller-font-size);
  text-transform: capitalize;
  color: #057008;
}

.card_action_container .card_actions {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action {
  border: none;
  width: 100%;
  background-color: transparent !important;
}



.action .action_icon {
  width: 20px;
  margin: 0 auto;
}


/* Modal */

/* Modal Overlay */
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal_content {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  width: 33%;
  text-align: center;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px 0;
}

.modal_content_container {
  min-height: 90vh;
  max-height: auto;
  border-radius: 8px;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.archive_and_delete_content_container {
  min-height: 45vh;
  max-height: auto;
  border-radius: 8px;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: white;
  padding: 2rem 2rem;
}

.modal_content .modal_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal_header .header_title {
  text-transform: capitalize;
  margin: 0;
}

.modal_content_header {
}



.modal_header .header_close_button,
.modal_content_header .header_close_icon {
  border: none;
  background-color: white;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_header .header_close_icon,
.modal_content_header .header_close_icon {
  width: 15px;
}

.modal_content .modal_profile_container,
.modal_content .modal_subheader_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal_profile_container .profile_container {
  position: relative;
}

.profile_container .modal_profile_photo {
  width: 135px;
  border: 5px solid #235890;
  border-radius: 50%;
  object-fit: cover; 
  display: block;
  height: 135px;
}

.add_new_profile_button {
  position: absolute;
  right: 10px;
  top: 100px;
}

.profile_container .edit_profile_photo_button {
  border-radius: 50%;
  background-color: transparent !important;
  position: absolute;
  width: 20px;
  opacity: 0;
}

.profile_container .edit_profile_icon {
  width: 20px;
}

.modal_content .modal_info_container {
  width: 100%;
  padding: 0 30px;
  height: 35%;
}



.modal_content .modal_content_header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal_info_container .modal_info_group {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.modal_info_group .name_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.name_container .name {
  width: 48%;
  background-color: #DDDDDD;
  border: none;
  border-radius: 50px;
  height: 40px;
  padding: 0 16px;
  color: black;
}

.modal_info_group .modal_info_input {
  width: 100%;
  background-color: #DDDDDD;
  border: none;
  border-radius: 50px;
  height: 40px;
  padding: 0 16px;
  color: black;
}

.modal_content .save_changes_button_container {
  width: 100%;
  margin-top: auto;
}

.save_changes_button_container .save_changes_button {
  height: 40px;
  width: 150px;
  background-color: #235890;
  color: white;
  text-transform: uppercase;
  border-radius: 50px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  font-weight: var(--font-semi-bold);
}


.modal_content .modal_subheader_container {
  width: 100%;
}

.archive_and_delete_content_container .subheader_container,
.modal_subheader_container .subheader_container {
  width: 100%;
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subheader_container .subheader_icon {
  width: 30px;
  cursor: default;
}

.subheader_container .subheader_description {
  text-transform: uppercase;
}

.modal_content .modal_content_info_container {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.modal_content_info_container .modal_content_input {
  background-color: #DDDDDD;
  border: none;
  color: black;
}

.modal_content_info_container .modal_content_select,
.modal_content_info_container .modal_content_text {
  height: 40px;
  border-radius: 50px;
  padding: 0 16px;
}

.modal_content_info_container .modal_content_textarea {
  height: 75px;
  resize: none;
  border-radius: 8px;
  padding: 8px 16px;

}

.modal_content_info_container .modal_file_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  max-height: 80px;
  overflow-y: scroll;
  padding: 3px;
  border-radius: 16px;
}

.modal_file_container .file {
  background-color: #DDDDDD;
  display: flex;
  justify-content: center;
  align-items:center;
  gap: 0 5px;
  width: 31%;
  height: 25px;
  border-radius: 30px;
  cursor: pointer;
  font-size: var(--tiny-font-size);
  padding: 0 10px;
  overflow: hidden;

  img {
    width: 10%;
  }

  p {
    flex: 1;
    font-size: var(--smaller-font-size);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    
  }
}

.modal_file_container .file_icon_white {
  background-color: #235890;
}

.file_icon_white .file_name {
  color: white;
  font-size: var(--tiny-font-size);
}

.file_name {
  font-size: var(--tiny-font-size);
}

.modal_file_container .file_icon_black {
  background-color: #F1D302;
}

.modal_file_container .add_file {
  position: relative;
  background-color: #DDDDDD;
  height: 25px;
  display: flex;
  cursor: pointer;
  overflow: hidden;
}

.add_file_button_container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #dddddd;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  color: black;

  input[type="file"]{
    position: absolute;
    opacity: 1;
    cursor: pointer;
    top: 0; 
    left: 0;
    transform: scale(3);
    opacity: 0;
  }

  img {
    cursor: pointer;
  }
}

.add_file .button_name {
  color: black;
}

.file_icon_black .file_name {
  color: black;
}

.file .file_icon {
  width: 15px;
}

.file .file_name,
.file .button_name {
  font-size: var(--smaller-font-size);
  text-transform: capitalize;
}

.archive_and_delete_content_header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.archive_and_delete_content_header .header_close_button {
  border: none;
  background-color: white;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.archive_and_delete_content_header .header_close_icon {
  width: 15px;
}


.archive_and_delete_content {
  display: flex;
  flex-direction: column;
  gap: 20px ;
  padding: 0 1rem;
}

.archive_and_delete_confirmation {
  font-size: var(--small-font-size);
  text-align: center;
  color: black;
}

.boldText {
  font-weight: bold;
  color: black;
}

.confirm_archive_and_delete_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.confirm_archive_and_delete_container .confirm {
  height: 40px;
  width: 100%;
  border-radius: 24px;
  border: none;
}

.confirm_archive_and_delete_container .confirm_textbox {
  background-color: #DDDDDD;
  padding: 0 16px;
  text-align: center;
}

.confirm_button {
  background-color: #235890;
  color: white;
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
}

.step2_archive_and_delete_content {
  width: 100%;
  height: 100%;
}

.view_archived_contents_button {
  width: 100%;
  background-color: #235890;
  color: white;
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  height: 40px;
  width: 100%;
  border-radius: 24px;
  border: none;
}

.view_button_container {
  width: 100%;
  margin-top: auto;
  padding: 0 1rem;

}



@media (min-width: 320px) and (max-width: 375px) {
  .container {
    padding: 0 50px;
    gap: 30px;
  }

  .search_history_content_header {
    margin-left: -80px;
    
  }

  .search_history_content {
    margin-left: -80px;
  }

  .search_history_container {
    padding: 0 50px;
    width: 300px;
  }

  .search_history_action_buttons {
    gap: 50px;
  }

  .card_action_container {
    margin-right: 10px;
  }

  .profile_menu {
    width: 50px;
    height: 50px;
  }

  .dropdown_menu {
    width: 80%;
    right: 10%;
  }

  .modal_content {
    width: 60%;
  }

  .archive_and_delete_content_container {
    width: 60%;}

}

@media (min-width: 375px) and (max-width: 426px) {
  .container {
    padding: 0 30px;
    gap: 20px;
  }

  .search_history_content_header {
    margin-left: -80px;
    
  }

  .search_history_content {
    margin-left: -80px;
  }

  .search_history_container {
    padding: 0 30px;
    width: 350px;
  }

  .search_history_action_buttons {
    gap: 35px;
  }

  .card_action_container {
    margin-right: 20px;
  }

  .profile_menu {
    width: 65px;
    height: 65px;
  }

  .dropdown_menu {
    width: 90%;
    right: 5%;
  }

  .modal_content {
    width: 70%;
  }

  .archive_and_delete_content_container {
    width: 70%;
  }
}


@media (min-width: 427px) and (max-width: 768px) {
  .container {
    padding: 0 50px;
    gap: 30px;
  }

  .search_history_container {
    padding: 0 50px;
  }

  .search_history_action_buttons {
    gap: 50px;
  }


  
  .profile_menu {
    width: 50px;
    height: 50px;
  }

  .dropdown_menu {
    width: 80%;
    right: 10%;
  }

  .modal_content {
    width: 60%;
  }

  .archive_and_delete_content_container {
    width: 60%;}
}

/* Tablet styles (max-width: 1024px) */
@media (max-width: 1024px) {
  .container {
    padding: 0 50px;
    gap: 30px;
  }

  .search_history_container {
    padding: 0 50px;
  }

  .search_history_action_buttons {
    gap: 50px;
  }

  .profile_menu {
    width: 50px;
    height: 50px;
  }

  .dropdown_menu {
    width: 80%;
    right: 10%;
  }

  .modal_content {
    width: 60%;
  }

  .archive_and_delete_content_container {
    width: 60%;
  }
}

@media (min-width: 1025px) {
  .container {
    padding: 0 100px;
    gap: 50px;
  }

  .search_history_container {
    padding: 0 300px;
  }

  .profile_menu {
    width: 60px;
    height: 60px;
  }

  .dropdown_menu {
    width: 325px;
  }

  .modal_content {
    width: 33%;
    height: 75vh;
  }

  .archive_and_delete_content_container {
    width: 33%;
    min-height: 45vh;
  }
}