/* Container   */

.container {
  background-color: #D9F0FF;
  min-height: 100vh;
}


/* Upper Part */

.header {
  display: flex;
  justify-content: space-between;
  height: 175px;
  padding: 0 150px;
}


.header .logo_div,
.header .login_join_now_div {
  width: 50%;
  display: flex;
  align-items: center;
}

.header .logo_div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.logo_div .logo {
  height: 100px;
}

.logo_div span {
  color: var(--title-color-dark);
}

.header .login_join_now_div {
  justify-content: flex-end;
}

.login_join_now_div .button {
  height: 35px;
  width: 150px;
  margin: 0 16px;
  text-transform: uppercase;
  border-radius: 16px;
  font-weight: bold;
  color: var(--title-color-dark);
  font-size: var(--h3-font-size);
  background-color: #D9F0FF;
}

.login_join_now_div .join_now_button {
  background-color: white;
}

/* Middle part */


.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 325px);
  padding: 0 150px;
  width: 100%;
  gap: 0 20px;
}

.content .content_left {
  height: 100%;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


.content_left .content_title {
  font-size: 3rem;
}

.content_left .content_subtitle {
  color: black;
}

.content_title .yellow {
  color: #F1D302;
}

.content_title .blue {
  color: #235890;
}


.content_search_bar_container {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.content_search_bar_container .content_search_bar {
  width: 700px;
  height: 75px;
  border: none;
  padding: 30px;
  border-radius: 50px;
  font-size: var(--h2-font-size);
}

.content_search_bar_container .search_icon {
  position: absolute;
  top: 50%;
  right: 85px;
  transform: translateY(-50%);
  width: 50px;
}


.content .content_right {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}


.content_right .landing_photo {
  height: 450px;
  width: 600px;
  position: relative;
  top: -20px;
  left: 60px;
}


/* Footer */

.footer {
  height: calc(100vh - 625px);
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: flex-end;
  padding: 30px 0;
  
} 

.footer .footer_title_container {
 display: flex;
 justify-content: center;
 align-items: flex-start;
 height: inherit;
 width: 100%;
}

.slide_content_container {
  display: flex;
  align-items: center;
  width: 30%;
}

.navigation_icon_right {
  transform: rotate(180deg); /* Rotates the element 180 degrees */
}




.slide_topic {
  height: 20px;
  margin: 0 15px;
}

.footer_slide_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.navigation_icon {
  height: 30px;
  border-radius: 50%;
}

.navigation_button {
  border-radius: 50%;
}