/* Importing font (Poppins) from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


:root {
    --header-height: 3rem;
  
    /* 
      Customized colors
      Color mode HSL(hue, saturation, lightness)
    */
    --hue: 0;
    --sat: 0%;
    --title-color: hsl(var(--hue), var(--sat), 20%);
    --title-color-dark: hsl(var(--hue), var(--sat), 0%);
    --text-color: hsl(var(--hue), var(--sat), 46%);
    --body-color: hsl(var(--hue), var(--sat), 98%);
    --container-color: #fff;
    --blue-color: #235890;
    --yellow-color: #F1D302;
    --grey-color: #ddd;
  
    /* Font and typography */

    --body-font: "Poppins", sans-serif;
  
    /* NOTE: .5rem = 8px | 1rem = 16px */
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.65rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --tiny-font-size: 0.625rem;
  
    /* Font weight */
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
  
   
    /* Margin bottom */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

    /* Color Palette */

    --blue: #235890;
    --grey: #DDDDDD;
    --yellow: #F1D302;
    --red: #C00202;
    --white: #fff;
    --black: #000;
    --green: #057008;
  }


/* Customize the entire scrollbar */
::-webkit-scrollbar {
  width: 12px; 
  height: 12px; 
}

/* Customize the scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px; 
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #dddddd;
  border-radius: 12px; 
}

/* Hover effect on the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Customize the scrollbar corner (for overlapping scrollbars) */
::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    color: var(--text-color);
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  
body, html {
    overflow-x: hidden;
    height: 100%;
    margin: 0;
  }

a, button {
  text-decoration: none;
  cursor: pointer;
  border: none;
}

ul li,
ol li {
  list-style: none;
  cursor: pointer;
}

p, label {
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--title-color-dark);
}

img {
  cursor: pointer;
}

.custom-tooltip {
  background-color: var(--blue) !important;
  color: var(--white) !important;
  border-radius: 50px !important;
}