.header_container {
  position: relative; /* Anchor point for dropdown */
  width: 100%;
  padding: 10px 100px;
  display: flex;
  justify-content: flex-end;
  height: 100px;
  background-color: transparent;
  gap: 60px;
}

.profile_menu_container {
  position: relative; /* Anchor point for dropdown */
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  gap: 60px;
}

.profile_menu {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1rem;
  width: 60px;
  height: 60px;
  position: relative;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  margin-top: auto;
  background-color: none;
}



.profile_menu .default_profile {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  object-fit: cover;
  

}



.profile_menu:hover {
  background-color: #f0f0f0;
}

.dropdown_menu {
  position: absolute;
  top: 100%; /* Para palaging sa taas ng header nag-a-appear */
  right: 0; /* Align to the right side */
  background-color: #DDDDDD;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1000; /* Para ma-ensure na clickable */
  width: 100%;
  width: 325px; /* Adjust width as needed */
  border-radius: 1.65rem;
  padding: 10px 2px;
}


.dropdown_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 10px;
  border-radius: 1rem;
}

.dropdown_menu li {
  border-bottom: 1px solid #f0f0f0;
  border-radius: 50px;
  background-color: white;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 5px 0;
  width: 100%;
  font-size: var(--small-font-size);
}

.dropdown_menu li:first-child {
  margin-top: 0;
}

.dropdown_menu li:hover {
  background-color: #F5F5F5 ;
}

li .dropdown_menu_logo {
  height: 25px;
  border-radius: 50%;
  margin-right: 15px;
}

.dropdown_menu a {
  display: flex; 
  align-items: center; 
  color: #333; 
  padding: 0 10px; 
  height: 25px;
}


.notification_menu {
  margin-top: auto;
  border: none;
  border-radius: 50%;
  width: 40px;
  background-color: transparent;
}

.notification_icon {
  width: inherit;
  background-color: none;
}

.notification_dropdown_menu li {
  height: 60px;
  padding: 0 10px;
}