/* Container   */

.container {
  background-color: #D9F0FF;
  min-height: 100dvh;
  height: 100%;
  display: flex;
  flex-direction: column;
}


/* Upper Part */

.header {
  display: flex;
  justify-content: space-between;
  height: 175px;
  padding: 0 150px;
}


.header .logo_div,
.header .login_join_now_div {
  width: 50%;
  display: flex;
  align-items: center;
}

.header .logo_div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.logo_div .logo {
  height: 100px;
}

.logo_div span {
  color: var(--title-color-dark);
}

.header .login_join_now_div {
  justify-content: flex-end;
}

.login_join_now_div .button {
  height: 35px;
  width: 150px;
  margin: 0 16px;
  text-transform: uppercase;
  border-radius: 16px;
  font-weight: bold;
  color: var(--title-color-dark);
  font-size: var(--h3-font-size);
  background-color: #D9F0FF;
}

.login_join_now_div .join_now_button {
  background-color: white;
}

/* Middle part */


.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1; 
  padding: 0 150px;
  width: 100%;
  gap: 0 20px;
}

.content .content_left {
  height: 100%;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


.content_left .content_title {
  font-size: 3rem;
}

.content_left .content_subtitle {
  color: black;
  margin-bottom: 10px;
}

.content_left .content_subtitle strong {
  color: black;
}

.content_title .yellow {
  color: #F1D302;
}

.content_title .blue {
  color: #235890;
}


.content_search_bar_container {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.content_search_bar_container .content_search_bar {
  width: 700px;
  height: 75px;
  border: none;
  padding: 30px;
  border-radius: 50px;
  font-size: var(--h2-font-size);
  position: relative;
}

.content_search_bar_container .search_button {
  position: relative;
  top: 50%;
  right: 60px;
}

.search_button .search_icon {
  position: absolute;
  transform: translateY(-50%);
  width: 50px;
}


.content .content_right {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}


.content_right .landing_photo {
  height: 450px;
  width: 600px;
  position: relative;
  top: -20px;
  left: 60px;
}


/* Footer */

.footer {
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: flex-end;
  padding: 15px 0;
  
} 

.footer .footer_title_container {
 display: flex;
 justify-content: center;
 align-items: flex-start;
 width: 100%;
}

.slide_content_container {
  display: flex;
  align-items: center;
}



.slide_topic {
  height: 20px;
  margin: 0 15px;
}

.footer_slide_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.navigation_icon {
  height: 30px;
  border-radius: 50%;
}

.navigation_button {
  border-radius: 50%;
}

.slide_content_container {
  display: flex;
  overflow: hidden; 
  width: 100%; 
  scroll-behavior: smooth; 
}

.slide_content {
  flex: 0 0 100%; 
  display: flex;
  justify-content: center; 
  transition: transform 0.5s ease;
}



/* Modal */

/* Modal Overlay */
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal_content {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  width: 400px;
  text-align: center;
  position: relative;
}

.modal_content .modal_title {
  text-transform: uppercase;
  font-size: var(--h1-font-size);
}

.modal_content .modal_subtitle {
  font-size: var(--small-font-size);
  text-align: left;
  color: var(--title-color-dark);
  margin-top: 5px;
  margin-bottom: 20px;
}

.modal_buttons_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.modal_buttons_container .modal_button {
  width: 100%;
  border-radius: 50px;
  height: 35px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--normal-font-size);
}

.modal_buttons_container  .login_button  {
  background-color: #F1D302;
  color: var(--title-color-dark);
  
}

.modal_buttons_container  .signup_button {
  background-color: #235890;
  color: #fff;
  width: 100%;
}

/* Close Button */
.modal_buttons_container .close_button {
  background: #ffff;
  color: var(--title-color-dark);
  border: 1px solid hsla(0, 0%, 0%, 0.36);

}

.close_button:hover {
  background: #dddddd;
}

/* Fade-in Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
